.footer-container {
    margin-left: 70px;
}

.footer-container .title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.social {
    display: flex;
}

.social .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--primary-white-color);
    background-color: var(--footer-social-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social .item-social+.item-social {
    margin-left: 10px;
}

.social .link:hover,
.social .link:focus {
    background-color: var(--accent-color);
}